* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto", "sans-serif";
}
.logo {
  width: 120px;
  margin-left: 20px;
}
.menu li {
  margin-left: 20px;
  font-size: 1.2em;
}
.tit {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;

  background-color: #dd2079;
}
.tit a {
  text-decoration: none;
  color: white;
}
.tit h2 {
  font-size: 2.5em;
}

.label-w {
  margin-right: 20px;
}
.checks {
  border-bottom: 1px solid #dd2079;
  padding: 20px;
  width: 100%;
}
.div-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 350px;
}
.imgs {
  display: flex;
  width: 220px;
  height: 320px;
  background-size: 100% 50%;
  border-radius: 8px;
  background-repeat: no-repeat;
  flex-direction: column;

  transition: box-shadow 0.4s ease-in-out;
}
.imgs:hover {
  box-shadow: 0 0 30px rgba(221, 32, 121, 0.8);
}
.p-img {
  padding-top: 8px;
}

.imgs p {
  margin-top: 70%;
  text-align: center;
  word-wrap: break-word;
}
.boton {
  margin: 0 auto;
  padding: 2px 4px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid #f19fc5;
  color: white;
  background-color: #dd2079;
}
.img1 {
  background-image: url(./img/Cinema.jpg);
}
.img2 {
  background-image: url(./img/Costume_Party.jpg);
}
.img3 {
  background-image: url(./img/Food_Fair.jpg);
}
.img4 {
  background-image: url(./img/Marathon.jpg);
}

.iconos {
  height: 85px;
  display: flex;
  margin-top: 20px;
  background-color: #dd2079;
}
.ic-wp {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 20px;
}
.ic-fb {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 30px;
}
.ic-inst {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 30px;
}

/*CONTACT*/
.cont-form {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.boton-contact {
  margin: 0 auto;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #dd2079;
}
label {
  width: 80px;
  margin-right: 5px;
}

/*DETAILS*/

.cont-img-text {
  padding-top: 30px;
  margin-right: 10px;
  display: flex;
  height: 400px;
  justify-content: center;
  margin: auto;
}
.img-details {
  background-image: url(./img/Museum_Tour.jpg);
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.cont-text {
  text-align: center;
  word-wrap: break-word;
  width: 300px;
  margin-left: 20px;
}
