* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "roboto", "sans-serif";
}
.logo {
  width: 120px;
  margin-left: 20px;
}
.menu li {
  margin-left: 20px;
  font-size: 1.2em;
}
.tit {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;

  background-color: #dd2079;
}
.tit a {
  text-decoration: none;
  color: white;
}
.tit h2 {
  font-size: 2.5em;
}

.label-w {
  margin-right: 20px;
  margin-left: 5px;
}
.div-checks {
  border-bottom: 1px solid #dd2079;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.check {
  display: flex;
  flex-direction: row;
}

.boton {
  margin: 0 auto;
  padding: 2px 4px 4px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid #f19fc5;
  color: #fafafa;
  background-color: #dd2079;
  text-decoration: none;
}

.iconos {
  position: relative;
  height: 85px;
  display: flex;
  margin-top: 50px;
  background-color: #dd2079;
  width: 100%;
  bottom: 0;
}
.ic-wp {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 20px;
}
.ic-fb {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 30px;
}
.ic-inst {
  width: 30px;
  height: 30px;
  color: white;
  margin: auto 30px;
}

/*CONTACT*/
.cont-iconos-contact {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.cont-form {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.boton-contact {
  margin: 0 auto;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #dd2079;
}
label {
  width: 80px;
  margin-right: 5px;
}

/*DETAILS*/
/*.cont-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}*/

.card-details {
  display: flex;
  margin: auto;
  align-items: center;
  width: 40%;
  margin-top: 30px;
}
.cont-img-details {
  width: 100%;
}
.cont-img-details img {
  width: 100%;
  object-fit: cover;
}
.text-details {
  margin: 10px 10px;
  word-wrap: break-word;
}

/*-------STATS-------*/

table {
  width: 60%;
  margin: 40px auto;

  border: 5px solid #f19fc5;
  border-collapse: collapse;
  text-align: center;
}
.td-edit {
  padding: 10px;
  border-right: 1px solid rgba(223, 183, 213, 0.4);
  border-bottom: 1px solid rgba(223, 183, 213, 0.4);
}

td {
  border: 2px solid rgb(223, 183, 213);
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
}

thead {
  font-weight: bold;
}

.head-td {
  background-color: #f19fc5;
}

/*-------MEDIA QUERIS-------*/

@media only screen and (max-width: 492px) {
  .tit {
    height: 100px;
    text-align: center;
  }
  .container-cards {
    width: 100%;
  }

  .cont-img-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card {
    min-width: 250px;
  }
  .img-details {
    width: 300px;
    height: 300px;
  }
  .cont-text {
    margin: auto;
  }
  .details-iconos {
    position: fixed;
    bottom: 0;
  }
}
@media only screen and (max-width: 800px) {
  .card-details {
    width: 60%;
  }
  .details-iconos {
    position: relative;
    bottom: 0;
  }
}

/*GALERIA*/

.cont-galeria {
  padding-top: 30px;
  margin: auto;
  width: 100%;
}
.container-cards {
  margin: auto;

  margin-bottom: 100px;
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 160px;
  object-fit: cover;
}
.card {
  border-radius: 8px;
  margin-bottom: 15px;
  min-width: 33%;
  transition: box-shadow 0.4s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 30px rgba(221, 32, 121, 0.8);
}
.card-body {
  height: 300px;
}
.card-body .boton {
  position: absolute;
  bottom: 8px;
}
.cont-h1-card {
  height: 100px;
}
.cont-description {
  height: 100px;
}

.cont-category {
  height: 50px;
}
